name: Build Vue
on: [push]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
      - uses: actions/checkout@v2
      - run: cd put-rocket-frontend
      - run: ls -lai
      - run: npm ci

      - id: Build-Vue
        uses: xRealNeon/VuePagesAction@1.0.1
        with:
          username: 'SuddenlyPineapple'
          reponame: 'put-V2-rocket'
          token: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
