name: Build Vue
on: [push]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16.3'
          cache: 'npm'
          cache-dependency-path: put-rocket-frontend/package-lock.json
      - run: cd put-rocket-frontend && npm install
      - run: cd put-rocket-frontend && npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: put-rocket-frontend/dist
